$env: "prod" !default;
$path: "/Template/temp-v4/" !default;

// URL Path
@if $env == "dev" {
	$path: "../";
}

// Brand colors
$brand-color:			#002857;
$accent-color:			#0099cc;
$accent-light:			lighten(desaturate(adjust-hue(#0099cc, -0.1128), 33.1658), 20.9804);
$brand-grey:			#a5acaf;
$brand-footer:			#dee5e9;
// Other colors
$white:					white;
$black:					black;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

@import 'partials/global-fonts';

$font-family: "Frutiger W01", 'Helvetica Neue', Helvetica, Arial, sans-serif;

$color_biscay_approx: 			#193d67;
$color_black_haze_approx: 		#f5f7f9;
$color_blue_zodiac_approx: 		#0c234b;
$color_cannon_pink_approx: 		#8f3f6d;
$color_cararra_approx: 			#ebebeb;
$color_carissma_approx: 		#e076b3;
$color_chambray_approx: 		#395d84;
$color_chardonnay_approx: 		#ffc78a;
$color_citron_approx: 			#97a200;
$color_cornflower_approx: 		#9ec3de;
$color_cruise_approx: 			#b9e4e1;
$color_curious_blue_approx: 	#29aad4;
$color_deluge_approx: 			#6773b6;
$color_dodger_blue_approx: 		#3399ff;
$color_gallery_approx: 			#f0f0f0;
$color_genoa_approx: 			#0d776e;
$color_gold_drop_approx: 		#e98300;
$color_gray_chateau_approx: 	#a5acb2;
$color_gray_nurse_approx: 		#e8eaeb;
$color_green_vogue_approx: 		#002857;
$color_java_approx: 			#16cabb;
$color_mercury_approx: 			#dee5e9;
$color_mine_shaft_approx: 		#333;
$color_mischka_approx: 			#ccd4dd;
$color_niagara_approx: 			#11988d;
$color_pacific_blue_approx: 	#0099cc;
$color_pistachio_approx: 		#a8b400;
$color_portage_approx: 			#8e9be4;
$color_resolution_blue_approx: 	#002587;
$color_scooter_approx: 			#22bcf0;
$color_sea_buckthorn_approx: 	#f69c28;
$color_shakespeare_approx: 		#51b9dc;
$color_trout_approx: 			#49595e;
$color_viking_approx: 			#59bdde;
$color_waikawa_gray_approx: 	#556099;
$color_wattle_approx: 			#dae454;

