// Import base utilities and configuration
@import 'partials/globals/_config',
		'mixins/contrast'
;

// Import CMS only styles
@import 
	'partials/cms/custom-grid',
	'partials/cms/header',
	'partials/cms/header-nav',
	'partials/cms/navigation',
	'partials/cms/content'
;

/// CAMPUS SUITE BASED STYLES
// Grid Settings
	$rowWidth: 1000px !default;
	$columnGutter: 30px !default;
	$totalColumns: 12 !default;
	$mobileTotalColumns: 4 !default;


$page-padding-left: 30px !default;
$page-padding-right: 30px !default;
$breadcrumbs-padding: 20px $page-padding-right 15px $page-padding-left !default;



// Text Direction Settings
	$textDirection: ltr !default; // Controls default global text direction, 'rtl' or 'ltr'
	$defaultFloat: left !default; // Change this to 'right' for right-to-left languages
	$defaultOpposite: right !default; // Change this to 'left' for right-to-left languages
	
	@if $textDirection == ltr {
	  $defaultFloat: left;
	  $defaultOpposite: right;
	} @else {
	  $defaultFloat: right;
	  $defaultOpposite: left;
	}

//	Modular Scale Settings
	$baseFontSize: 14px !default;
	$importantModNum: 44px !default;
	$base-size: $baseFontSize $importantModNum;

// Media Queries
	$screenSmall: 768px !default;
	$screenMedium: 1279px !default;
	$screenXlarge: 1441px !default;


/* ---- SPLIT ---- */

.basecol { /* extend to bypass foundation column breaks */ 
	width: 50%;
	float: left;
    min-height: 1px;
    padding: 0 15px;
    position: relative;
}
.vpush { margin-top: 30px; } /*default vertical push*/


/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus  {outline: none;}
.slides, .flex-control-nav, .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
	
	display: none; 
	.slide { display: none; } /*hide until loaded*/

	position: relative;
	zoom: 1;
	margin: 0 0 60px;
	/*
	background: #fff;
	border: 4px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	*/
	}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.flexslider .carousel li { margin: 0 0 0 5px }


.flexslider .slides li { position: relative; margin: 0 }
.flexslider .content {
	position: absolute;
	display: block;
	max-width: 40%;
	padding: 15px;
	z-index: 9;
	background: rgba(0,0,0, .50);
	top: 10px; right: 10px;
}

.flexslider .content h2,
.flexslider .content p {
	color: #fff;
}




@media screen and (max-width: 860px) {
	.flexslider .content {
		position: relative;
		top: auto; right: auto;
		max-width: 100%;
		width: 100%;
		padding: 15px;
		z-index: 99;
		background: #000;
	}
}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {
	width: 50px;
	height: 50px;
	margin: -20px 0 0; 
	display: block; 
	background: url(/campusuite25/images/flexslider/direction-nav-arrow-white-30x30.png) no-repeat 0 0 $brand-primary;
	position: absolute; 
	top: 50%; 
	z-index: 10; 
	cursor: pointer; 
	text-indent: -9999px; 
	/*opacity: 0; */
	opacity: 1.0; 
	-webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
	background-position: 100% 0;
	right: -50px;
}
.flex-direction-nav .flex-prev {
	left: -50px;
}
.flexslider:hover .flex-next {
	/*opacity: 0.8;*/
	/*right: 5px;*/
}
.flexslider:hover .flex-prev {
	/*opacity: 0.8;*/
	/*left: 5px;*/
}

.flexslider a {
}


.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
}
.flex-direction-nav .flex-disabled {
	opacity: .3 !important; 
	filter:alpha(opacity=30);
	cursor: default;
}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	background: $brand-primary;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.flex-control-paging li a:hover {
	background: lighten($brand-primary, 10%);
}
.flex-control-paging li a.flex-active {
	background: lighten($brand-primary, 30%);
	cursor: default;
}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}






/* orbit slider */
.featured { display: none }

/*
======================================================================================================
SMALL (DEVICE) NAVIGATION
======================================================================================================
*/
p.menu-buttons { margin: 0; }
body { &.full, &.home { #sidebarButton { display: none; } } }











/* Module List */
/*.module-list, .list-csfaculty { padding: 0 $columnGutter / 2 $columnGutter }
.basic-page { .module-list, .list-csfaculty { padding-left: 0 !important; padding-right: 0 !important } }


/*
MODULE LIST HEADER:
Usage: Faculty listing
Uses h3 and p tags
*/
#content .content-a.list-header {
	border-top: 4px solid darken(white, 12%);
	padding: 0;
	margin-top: 50px;
	h3, p { margin: 0; }
	h3 { font-size: 15px; text-transform:	 uppercase; }
	.col { padding: 15px 0; }
}
#content .content-a.list-header:first-child { margin-top: 0; }

.module-links{
	a.button{
		color:#fff;
		&:hover{
			background:darken(#0099cc, 10%);
		}
	}
}


/* Custom Module Headers */
section.custom-header .module-links {
	padding: $columnGutter / 2 $page-padding-right $columnGutter / 2 $page-padding-left
}


/*	error404 */
	#content .error404 { padding: $columnGutter 0 $columnGutter * 2 }
/*	Special form fields - spam */
	input.special { display: none !important }



/* pagination - shared DV and Public */

.pagination-wrapper {
	@include clearfix();
	font-size: ms(0) - 2;
	padding: 10px 5px;
	line-height: 1.6;
	
	.displaying, .page-links, .display-select {
		float: left;
		min-height: 1px;
		position: relative;
		line-height: 2;
	}
	ul.pagination li {
		line-height: 2;
	}
	.displaying { width: 40%; }
	.page-links { width: 40%; }
	.display-select {
		width: 20%; padding-left: 10px; text-align: right;
		select { float: left; margin-right: 5px; width: 55px; }
	}
	.pagination { width: auto; float: right; }
}

@media only screen and (max-width: 700px) {
	.pagination-wrapper {
		.displaying, .page-links, .display-select { width: 100%; @include clearfix(); text-align: left; padding-left: 0; }
	}
	.pagination-wrapper .pagination { float: left; }
}



/*	Site Alert */
	.site-alert {
		position: relative; z-index: 9;
		background: #ffffcc;
		box-shadow:0 1px 0 white inset;
		
		ul {
			overflow: hidden;
			margin: 0;
			padding: 0;
			list-style: none;
			width: $rowWidth;
			margin: 0 auto;

			li {
				font-size: ms(0) - 2;
				line-height: 1.2;
				font-weight: bold;
				text-align: center;
				margin: 0;
				padding: $columnGutter / 2;
			}
			@media only screen and (max-width: 767px) { width: 100%; }
		}
	}



/*
======================================================================================================
Widgets
======================================================================================================
*/
.quick-links h2 {
// 	font-family: $widget-header-font-family;
// 	font-size: $widget-header-font-size;
// 	color: $widget-header-font-color;
// 	margin: $widget-header-margin;
// 	padding: $widget-header-padding;
}


.widget-list {
	h2 {
// 		font-family: $widget-header-font-family;
// 		font-size: $widget-header-font-size;
// 		color: $widget-header-font-color;
// 		margin: $widget-header-margin;
// 		padding: $widget-header-padding;
	}
	

	article {
		@include clearfix();
// 		margin: $widget-item-margin;
// 		padding: $widget-item-padding;
		
		h3 {
// 			font-family: $widgetTeaserHeaderFontFamily;
// 			font-size: $widgetTeaserHeaderFontSize;
// 			margin: $widgetTeaserHeaderMargin;
			padding: 0;
			
// 			a { color: $widgetTeaserHeaderColor; }
		}
		p {
// 			font-family: $widgetTeaserBodyFontFamily;
// 			font-size: $widgetTeaserBodyFontSize;
// 			color: $widgetTeaserBodyFontColor;
			line-height: 1.5;
			margin: 0;
			
			&.date {
// 				font-family: $widgetDateTimeFontFamily;
// 				font-size: $widgetDateTimeFontSize;
// 				color: $widgetDateTimeFontColor;
// 				margin: $widgetDateTimeMargin;
				
				&.date-top {
					margin-bottom: 0;
				}
			}
		}
		figure {
			float: left;
			display: block;
			img {
				position: relative;
				width: auto !important;
				max-width: none !important;
			}
			&.thumbNa {
				background: #dcdcdc;
				text-align: center;
				text-transform: uppercase;
				font-size: 11px;
				line-height: 1.3;
				
				a {
					color: #999;
					text-decoration: none;
					display: block;
					height: 100%;
					padding-top: 35px;
				}
			}
		}
	}
	&.wThumb {
		article {
			h3, p { padding-left: 127px; }
			figure { width: 110px; height: 99px; overflow: hidden; }
		}
	}

	/* digital backpack/media list */
	&.list-media {
		article {
			margin-bottom: 8px;
			figure {
				width: 16px;
				height: 16px;
			}
			h3 {
				font-size: ms(0);
				margin: 0;
			}
			h3, p { padding-left: 25px; }
		}
		.filesize {
			font-weight: normal;
			font-style: italic;
			color: darken(white,50%);
		}
	}
	
} /* end widget-list */

.widget-list footer {
// 	padding: $widgetFooterPadding;
// 	margin: $widgetFooterMargin;
	
	p {
// 		font-family: $widgetFooterFontFamily;
// 		font-size: $widgetFooterFontSize;
// 		color: $widgetFooterFontColor;
		a {
// 			color: $widgetFooterFontColor;
		}
	}
	.divider {
		padding: 0 6px;
	}
}


	/* Date Box */
	section.wdate-box {
		h3, p { padding-left: 65px; }
		footer p { padding-left: 0; }
		p.date-box {
			padding: 1rem;
			width: 50px;
			border-style: solid;
			border-width: 1px;
			border-color: #09c;
			background: white;
			display: block;
			float: left;
			font-weight: 600;
			color: #09c;
		}
		span.month, span.day { display: block; text-align: center }
		span.month { font-size: 1.2rem; color:#09c }
		span.day { font-size: 2.2rem; color: #09c; }
	}




/* faq */
.qanda-wrap {
	margin-top: $columnGutter * 2;
	dd { padding: 0; margin: 0 0 $columnGutter; }
	dt { font-size: 15px; font-weight: bold; border-bottom: 1px solid #333; padding-bottom: 6px; margin-bottom: 12px; }
	dd {
		color: lighten(#333, 20%);
		p.page-top { margin-bottom: 0; }
	}
	span.ltr { font-weight: bold; margin-right: 4px; float: left; }
}



/* contact directory widget */
.widget.directory {
	section {
		.row { max-width: 100%; min-width: 100%; width: 100%; padding: 0; margin: 0; }
		.columns {
			padding-left: 0;
			&.last { padding-left: $columnGutter / 2; padding-right: 0; }
		}
		@media only screen and (max-width: 767px) {
			.columns { 
				padding: 0;
				&.last { padding: 0; }
			}
			.six { width: 100%; }
		}
		&.search-dept { margin: $columnGutter 0; }
	}
}



/*
======================================================================================================
Teacher Panel
======================================================================================================
*/
.hide-panel .teacher-panel { display: none }

.teacher-panel {
	padding-left: $page-padding-left;
	padding-right: $page-padding-right;
	margin-bottom: 20px;
	
	.teacher-profile {
		@include clearfix();
		padding: 15px 0;
		border-top: 1px solid #c2c2c2;
		border-bottom: 1px solid #c2c2c2;
		
		h2 { font-size: 18px; }
		h3 { font-size: 15px; }
		h2, h3 { font-weight: bold; padding: 0 0 0 75px; margin: 0 0 4px; }
		ul {
			list-style: none; margin: 0;
			li { line-height: 1.2; margin: 0 0 2px; padding: 0; }
		}
	}
	&.no-photo {
		h2, h3 { padding-left: 0 }
	}
	
	
	.teacher-details {
		float: left;
		position: relative;
		min-height: 1px;
		width: 40%;
		padding: 0 15px;
		
		&:first-child { width: 60%; padding: 0; }
		figure.teacher-picture { float: left; }
	}
	/* teacher panel - blog sidebar */
	&.blog-author {
		padding: 0;
		.teacher-details { float: none; width: 100% !important; padding: 0; }
	}
}

@media only screen and (max-width: 767px) {
	.teacher-panel {
		padding-left: $columnGutter / 2;
		padding-right: $columnGutter / 2;
	}
}

@media only screen and (max-width: 768px) {
	.teacher-panel {
		.teacher-details {
			float: none; width: 100% !important; padding: 0;
			ul { padding-left: 75px; }
		}
		&.no-photo { .teacher-details { ul { padding-left: 0 } } }
	}
}

/*
======================================================================================================*/







/*
======================================================================================================
COMMON MODULE ELEMENTS
======================================================================================================
*/

/* module content/list unavailable */
.content-na { padding: $columnGutter / 2 }






/* sharebar headers */
.sharebar { @include clearfix();
// 	border-style: $sharebarBorderStyle; border-width: $sharebarBorderWidth; border-color: $sharebarBorderColor; padding: $sharebarPadding; background: $sharebarBgColor;
	.addthis_toolbox { float: left; }
	.foundicon-rss { float: right; margin-top: 2px;
	&:before { position: relative; top: 1px; }
	span { margin-left: 5px; }
	}
}




/*
======================================================================================================
BLOG
======================================================================================================
*/
.csBlog {
	header.blog {
		padding: 0; margin: 0;
		h1 { float: none; width: 100%; padding: $columnGutter $columnGutter / 2 $columnGutter / 2; margin: 0 0 $columnGutter; background: lighten($brand-primary, 80%); border-bottom: 1px solid lighten($brand-primary, 50%) }
		&.image { padding: 0; margin: 0; }
	}
	
	#main { @include make-md-column(8); }
// 		@include column(8); @include push(0); @include mobileColumn(4); @include mobilePush(0); }
	aside#secondary { @include make-md-column(4); }
// 		@include column(4); @include pull(0); @include mobileColumn(4); @include mobilePull(0); }

	article.post {
		@include make-md-column(12);
/* 		column(12,collapse); */ margin-bottom: $columnGutter * 2; 
		header {
// 			margin: $postHeaderMargin; background: $postHeaderBgColor; padding: $postHeaderPadding;
			h2 { font-size: 1.8rem; }
			.datetime { font-size: 1.2rem; }
		}
		&.list-item {
			header {
				.datetime { margin-bottom: 0; }
			}
		}
		.body { @include clearfix(); }
	}
}
.blog-custom-sidebar {
	margin: 14px 0 30px;
	h1,h2,h3,h4,h5,h6 { margin-top: 0; }
}
.blog-posts, .blog-archive, .blog-tags { margin-bottom: 30px; }


h5.comments-title, .post-panel h5 { font-size: 18px; }
h5.comments-title {
	margin: $columnGutter / 2 0 0; border-top: 1px solid lighten($brand-primary, 50%); border-bottom: 4px solid lighten($brand-primary, 50%);
	a { display: block; padding: 10px 0 11px; }
}
.comments-panel {
	margin-bottom: $columnGutter * 2;
	h5.comments-title { border-top-width: 4px; border-bottom-width: 0px; padding: 10px 0 11px; margin-bottom: $columnGutter / 2;  }
	
	article.comment {
		margin: 0 0 $columnGutter;
		p.author {
			font-size: 15px; font-weight: bold; margin: 0 0 5px;
			.posted-date { color: lighten(#333, 30%); font-size: 12px; font-weight: normal; line-height: 1.3; margin-left: 10px;}
		}
		blockquote {
			border: 1px solid lighten($brand-primary, 50%);
			background: #fff;
			padding: $columnGutter / 2;
			margin: 0;
			font-size: ms(0);
			line-height: 1.4;
			color: #333;
		}
	}
}


/*
======================================================================================================
NEWS
======================================================================================================
*/


.module {
	
	
	/* public */
	article {
		&.post {
			padding: 0;
			header {
				h1 {
					float: none;
					width: 100%;
					padding: 0;
				}
			}
			figure {
				float: right;
				margin: 0 0 $columnGutter $columnGutter;
				padding: 5px;
				background: #fff;
				border: 1px solid #dedede;
				img {
					margin: 0;
					border: none;
				}
				figcaption {
					padding: 10px 5px;
					p {
						font-size: ms(0) - 2;
						line-height: 1;
						color: #777;
						margin: 0;
						&.gallery {
							margin-top: 6px;
						}
					}
				}
			}
			@media only screen and (max-width: 480px) {
				figure { float: none; margin: 0 auto $columnGutter; width: 100% !important; max-width: 100% !important;
					img { width: 100% !important; max-width: 100% !important; }
				}
			}


		}
	}
	
	article footer { padding-bottom: $columnGutter*3; }
	
} /* end shared and base module styles */









.csNews {

	article.post {
		margin-bottom: $columnGutter * 2; 
		header {
// 			margin: $postHeaderMargin; background: $postHeaderBgColor; padding: $postHeaderPadding;
			h1 { font-size: 2.2rem; }
			.datetime { font-size: 1.2rem; }
		}
	}
}





.news-feature {
	padding: 0 /*$columnGutter / 2*/; margin-bottom: 30px;
	article {
		@include clearfix(); background: #fff;
		h2 { margin: 0; padding: 15px 20px 0 355px; font-size: 28px; line-height: 1.2; }
		p {
			padding: 0 20px 0 355px; margin: 0;
			&.date { margin-bottom: 10px; width:auto; border:none; text-align: left;}
		}
	}
	figure {
		float: left; background: #fff;
		border:none !important;
		a { display: block; width: 324px; height: 208px; overflow: hidden; }
		img { position: relative; width: auto !important; max-width: none !important; }
	}
	@media only screen and (max-width: 480px) {
		article {
			padding-bottom: 25px;
			h2, p { padding: 0 15px; }
		}
		figure {
			width: 100%; margin-bottom: 15px; float: none;
			a { display: block; width: 100%; height: auto; overflow: hidden; }
			img { width: 100% !important; max-width: 100% !important; }
		}
	}
	
}
.latest-news-events {
	@include make-row(); padding-bottom: $columnGutter*3;
	h2 { text-transform: uppercase; font-size: 14px; margin: 0 0 15px; padding: 8px 0 6px; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; }
}
.latest-news {
	@include make-md-column(8);
// 	@include mobileColumn(4);

	&.latest-news-full { width: 100% }


	
	article {
		@include clearfix(); margin: 0 0 25px;
		h3, p { padding: 0 0 0 140px; margin: 0; }
		h3 { margin: 0; font-size: 16px; line-height: 1.1; }
		p {
			line-height: 1.5;
			&.date { margin-bottom: 5px; border:none; width: auto; text-align: left; height: auto; font-weight: 400; }
		}
	}
	figure {
		float: left; background: #fff;
		a { display: block; width: 110px; height: 99px; overflow: hidden; }
		img { position: relative; width: auto !important; max-width: none !important; }
	}
}
.latest-events {
	@include make-md-column(4);
// 	@include mobileColumn(4);
	ul {
		list-style: none;
		li { margin: 0 0 15px; }
	}
	h3 { margin: 0; font-size: 13px; line-height: 1.1; }
	p { margin: 0; font-size: 12px; line-height: 1.3;
		&.date{
			border:none;
			width:auto;
			text-align: left;
		}
		 }
	a{
		color:white !important;
	}
}

/*
======================================================================================================
FACULTY
======================================================================================================
*/

.csFaculty .module-list { header { padding: 0 } }

.list-csfaculty .dept-details {
	padding: $columnGutter / 2 0 $columnGutter / 6;
	h2 { font-size: 24px; font-weight: 700; margin: 0 0 $columnGutter / 6; }
	p { font-size: 15px; line-height: 1.2; }
}

.list-csfaculty {
	margin-bottom: $columnGutter * 1.5;
	article.profile {
		@include clearfix(); padding: 15px 0; border-top: 1px solid #dedede;
		&:last-child { border-bottom: 1px solid #dedede; }
		figure {
			float: left; background: #fff;
			a {
				display: block;
				width: 55px;
				height: auto;
				overflow: hidden;
			}
			img { position: relative; width: 100%; }
		}
		.profile-details, .profile-contact { float: left; }
		.profile-details {
			width: 60%; padding-right: $columnGutter / 2;
			h2, p { padding: 0 0 0 75px; margin: 0; }
			h2 { font-size: 15px; line-height: 1.2; }
			
			&.thumbNa {
				h2, p { padding-left: 0; }
			}
		}
		.profile-contact {
			width: 40%; padding: 0 $columnGutter / 2;
			ul {
				margin: 0; list-style: none;
				li { margin: 0; padding: 0; }
			}
		}
		@media only screen and (max-width: 480px) {
			.profile-details, .profile-contact {
				float: none; width: 100%; padding: 0;
				h2, p, ul { padding-left: 75px; }
			}
			.profile-details.thumbNa { padding-left: 0; }
			&.thumbNa .profile-contact { h2, p, ul { padding-left: 0px; } }
		}
	}
	&.directory {
		article.profile {
			&:last-child { border-bottom: none; }
		}
	}
}



/* faculty details */


	article.profile-details {
		
		header.profile-card {
			.inner-wrap {
				@include clearfix(); 
				padding: $columnGutter / 2 0 $columnGutter / 2 + 5px !important; 
// 				border-top: 4px solid lighten($brand-primary, 50%); 
// 				border-bottom: 1px solid lighten($brand-primary, 50%); 
// 				margin-bottom: 20px;
				
				@media only screen and (max-width: 767px) {
					padding-left: 0;
					padding-right: 0;
				}
			}
			h2 { font-size: ms(0) + 6; margin: 0 0 3px; color: $brand-primary; }
			h3 { font-size: ms(0) + 2; font-weight: normal; margin: 0 0 10px; }
			p { margin: 0; line-height: 1.4; }
			.primary {
/*
				position: relative;
				float: left;
				min-height: 1px;
				padding-right: $columnGutter / 2;
				width: 66.6667%; 
				h2, h3, p { padding-left: 155px; }
*/
			}
			&.no-photo  {
				.primary { h2, h3, p { padding-left: 0; } }
			}
			
			.connect {
/*
				position: relative;
				float: left;
				padding-left: $columnGutter / 2;
				min-height: 1px;
				width: 33.3333%;
*/
			}
			figure {
// 				float: left;
				width: 100%;
				height: /*140px*/ auto;
				overflow: hidden;
				img { width: 100% !important; max-width: 100% !important; }
			}
			
			@media only screen and (max-width: 480px) {
				.primary { @include clearfix(); }
				.primary, .connect { float: none; width: 100%; padding: 0; }
				.connect { padding-top: $columnGutter / 2; margin-top: $columnGutter / 2; border-top: 1px solid lighten($brand-primary, 50%); }
			}
		}
		.social-links {
			a {
				.foundicon-linkedin { color: #4875B4; &:hover { color: lighten(#4875B4, 10%); } }
				.foundicon-facebook { color: #3B5998; &:hover { color: lighten(#3B5998, 10%); } }
				.foundicon-twitter { color: #33CCFF; &:hover { color: lighten(#33CCFF, 10%); } }
				.foundicon-youtube { color: #FF3333; &:hover { color: lighten(#FF3333, 10%); } }
			}
			span {
				font-size: 18px; display: inline-block;
				p { text-indent: -9999px; margin: 0; }
			}
		}
	}
	

	.profile-summary {
		@include clearfix();
		
		.achievements, .summary {
			position: relative;
			float: left;
			min-height: 1px;
		}
		.achievements {
			left: 66.6667%;
			width: 33.3333%;
			padding-left: $columnGutter / 2;
			ul { list-style: none; border-top: 1px solid lighten($brand-primary, 50%); margin-bottom: $columnGutter;
				li { margin: 0; padding: 3px 0 4px; border-bottom: 1px solid lighten($brand-primary, 50%); }
			}
		}
		.summary {
			line-height: 1.5; /* set if they do not format p tags*/
			right: 33.3333%;
			width: 66.6667%;
			padding-right: $columnGutter / 2;
			
			h4 {
				font-size: ms(0) - 1;
				color: darken(white, 60%);
				font-weight: 700;
				margin: 0 0 10px;
			}
			p {
				line-height: 1.5;
				&.start-date, &.expertise, &.interests { margin: 0 0 $columnGutter; }
			}
			.bio {
				margin-bottom: $columnGutter;
			}
		}
		
		@media only screen and (max-width: 480px) {
			.achievements, .summary { float: none; width: 100%; left: 0; padding: 0; }
		}
	}







/*
======================================================================================================
calendar
======================================================================================================
*/
/*	calendar list view */


/*	calendar widget and module - shared attributes */
.csCalendar {
	.cal, .cal-list {
		.month-header, .dow-header, .week { display: table; width: 99.9999999999%; margin: 0; }
		.month-header {
			padding: 9px 6px 10px;
			border: 1px solid $brand-primary;
			background: $brand-primary;
			width: 100%;
			box-shadow:inset 1px 1px rgba(white, .2);
			text-align: center;
			font-weight: bold;
			color: #f3f3f3;
			text-shadow: 0 1px rgba(black, .3);
		}
		.month-header {
			font-size: 18px; line-height: 1;
			.next-arrow, .prev-arrow { display: block; width: 16px; height: 16px;
			a { display:block; border-top: 8px solid transparent; border-bottom: 8px solid transparent; text-shadow: 0 1px rgba(black, .3); }
			}
			.next-arrow { float: right; }
			.prev-arrow { float: left;}
			.next-arrow a { border-left: 8px solid lighten(#f3f3f3, 20%); }
			.prev-arrow a { border-right: 8px solid lighten(#f3f3f3, 20%); }
		}
	}
}

.csCalendar, .cal-widget {
	.cal {
		/*box-shadow:1px 1px 3px rgba(black, .2);*/
		.month-header, .dow-header, .week { display: table; width: 99.9999999999%; margin: 0; }
		.month-header {
			padding: 9px 6px 10px;
			border: 1px solid $brand-primary;
			background: $brand-primary;
			width: 100%;
			box-shadow:inset 1px 1px rgba(white, .2);
			text-align: center;
			font-weight: bold;
			color: #f3f3f3;
			text-shadow: 0 1px rgba(black, .3);
		}
		.dow-header {
			border-left: 1px solid #c2c2c2;
			border-right: 1px solid #c2c2c2;
			box-shadow:inset 1px 1px rgba(white, .5);
		}
		.day-title, .day { display: table-cell; width: 14.2857142857%; }
		.day-title { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; text-transform: uppercase; }
		.day {
			border-top: 1px solid #c2c2c2; border-right: 1px solid #c2c2c2;
			&:first-child { border-left: 1px solid #c2c2c2; }
		}
		.week { &:last-child { .day { border-bottom: 1px solid #c2c2c2; } } }
	}
}

/*	calendar widget */
.cal-widget {
	h2 {
		font-size: 1.8rem;
	}
	.details { margin: 10px 0; }
	.cal {
		.month-header {
			font-size: 13px; line-height: 1;
			.next-arrow, .prev-arrow { display: block; width: 12px; height: 12px;
				a { display:block; border-top: 6px solid transparent; border-bottom: 6px solid transparent; text-shadow: 0 1px rgba(black, .3); }
			}
			.next-arrow { float: right; }
			.prev-arrow { float: left;}
			.next-arrow a { border-left: 6px solid lighten(#f3f3f3, 20%); }
			.prev-arrow a { border-right: 6px solid lighten(#f3f3f3, 20%); }
		}
		.dow-header { padding: 10px 0; }		
		.day-title { font-size: 10px; line-height: 1; }
		.day-title, .day { text-align: center; vertical-align: middle; }
		.day {
			span {
				padding: 10px 0;
				position: relative;
				display: block;
				background: #eaeaea;
				box-shadow:inset 1px 1px rgba(white, .5);
				
				&:hover { cursor: pointer; background: #f3f3f3; }
			}
			&.hasevents {
				span {
					margin: -1px;
					color: #f3f3f3;
					text-shadow: 0 1px rgba(black, .3);
					background: lighten($brand-primary, 5%);
					border: 1px solid darken($brand-primary, 5%);
					box-shadow:inset 1px 1px rgba(white, .2);
					
					&:hover { background: darken($brand-primary, 5%); }
				}
			}
			&.blank {
				span { background: #f3f3f3; color: #cccccc;
					&:hover { cursor: text; background: #f3f3f3; }
				}
			}
		}
	}
	
	.cal-details {
		p { margin-bottom: 4px; }
		p.date { font-weight: bold; }
	}
}




/* MODULES GENERAL
-----------------------------------------------*/
/* ModHd can be applied to a single H1 or a Header tag */
.module [class*="modList-"] {
	padding-left: $page-padding-left - 15px;
	padding-right: $page-padding-right - 15px;
}
/*
.modHd, .module .modList-gallery {
	padding-left: $page-padding-left;
	padding-right: $page-padding-right;
}
*/

.modHd {
	margin-bottom: 30px;
	font-size: 3.2rem;
	h1{
		font-size: 3.2rem;
	}
}

.modList-gallery {
	ul {
		list-style: none;
		padding:0;
		margin: 0;
		li:not(:first-child) {
			margin-top: 1.5rem;
		}
	}
}

@media only screen and (max-width: 767px) {
	.module [class*="modList-"] {
		padding-left: 0;
		padding-right: 0;
	}
	.modHd, .module .modList-gallery {
		padding-left: 15px;
		padding-right: 15px;
	}
}

strong.alert { color: $brand-primary; }

/* GALLERY
-----------------------------------------------*/
.clearing-close:hover { text-decoration: none; }

.csGallery, .widget.gallery-embed {
	.carousel li { margin: 0; }
	.block-grid.three-up { margin: 0 -5px; }
	
	.block-grid.three-up > li {
		position: relative;
		padding: 5px;
		
		img {
			display: block;
			max-width: 100%;
			max-height: 100%;
			margin: auto;
			-webkit-transition: all 2s ease-out;
			transition: all 2s ease-out;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}

		a {
			position: relative;
			display: block;
			overflow: hidden;
			width: 100%;
			height: 0;
			padding-top: 76.25%;
			background-color: #ddd;

			&:hover img, &:focus img {
				-webkit-transform: scale(1.3);
				transform: scale(1.3);
			}
		}
		
	}
}	
.modList-galleries {
	.row { width: 100%; min-width: 100%; }
	[class*="column"] + [class*="column"]:last-child { float: left; }
	p { font-size: 13px; line-height: 1.4; }
	
	figure {
		position: relative;
		background: white;
		height: 140px;
		overflow: hidden;
		span {
			position: absolute;
			top: 3px;
			right: 3px;
			z-index: 2;
			background: rgba(255,255,255, 0.7);
			padding: 4px 6px;
		}
		img {
			width: 100%;
			max-width: 100%;
		}
		a:hover img { opacity: 0.7; }
	}
	h2 {
		font-size: 15px;
		line-height: 1.4;
		color: #222;
		margin: 10px 0;
		
		.datetime {
			display: block;
			font-size: 12px;
			font-weight: 400;
			color: #888;
			margin: 2px 0 0;
			
			strong { font-weight: 700; }
		}
	}
}
@media only screen and (max-width: 320px) {
	.modList-galleries {
		.row .mobile-two {
 			max-width: none;
    		min-width: 0;
    		width: auto !important;
			float: none !important;
		}
	}
}










/* GOOGLE SEARCH
-----------------------------------------------*/
.gsc-input-box table {
	border: 0;
	margin: 0;
	background: none;
}
.gsc-search-box td.gsc-input {
	border: 0;
	padding: 0;
}
.gsc-search-box .gsc-input-box {
	height: 32px;
	padding-left: 5px;
	padding-top: 1px;
	padding-right: 5px;
}
.gsc-search-box input[type="text"],
.gsc-search-box input[type="text"]:focus {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.gsc-search-box input[type="text"]:focus {
	background: none !important;
}
input[type="text"].gsc-input {
	height: 29px !important;
}
.gsc-search-box input.gsc-search-button-v2 {
	width: auto;
	height: auto;
	min-height: 13px;
	margin-top: 3px;
	padding: 9px 15px 10px;
	background: $brand-primary;
	border: none;
}
.gsc-result .gs-title { height: 1.4em !important; }
.cse .gsc-control-cse, .gsc-control-cse { padding: 1em 0 !important; }
.gsc-control-cse, table.gsc-search-box, .gsc-above-wrapper-area-container,
table.gsc-branding, table.gcsc-branding { background: none !important; border: none !important; }

.gsc-search-box, .gsc-search-box td,
.gsc-above-wrapper-area-container, .gsc-above-wrapper-area-container td,
.gsc-resultsHeader, .gsc-resultsHeader td,
.gsc-table-result, .gsc-table-result td {
	border: none;
	padding: 0;
	margin: 0;
}
.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b, .gsst_a .gscb_a { color: $brand-primary !important; }
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl { color: darken(white, 50%) !important; }

.gs-fileFormat, .gs-snippet { line-height: 1.5; }
.gcsc-branding, .gsc-above-wrapper-area { padding: 8px 0 10px !important; }

.gsc-results .gsc-cursor-box .gsc-cursor-page { color: darken(white, 80%) !important; }
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {}




/*
	09.26.13
	Members/Company area
	currently used on aapn
*/
.company-profile { padding-top: 20px; }
.company-details, .company-contacts { @include clearfix(); margin: 0 -15px; }
.company-details h1 { margin: 0 0 10px; }
.company-details p { margin-bottom: 0; }
.company-details, .company-description { margin-bottom: 40px; }
.company-contacts .columns { height: 110px; }
.company-contacts [class*="column"] + [class*="column"]:last-child { float: left; }

.coLogo, .coInfo, .coContact { @extend .basecol; }
.coLogo, .coInfo { width: 50%; }
.coContact { width: 33.3333%; }
.coLogo { padding-bottom: 20px; left: 50%; }
.coInfo { right: 50%; }

.media-guide {
	h5 { font-size: 13px; font-weight: 700; text-transform: uppercase; margin: 0 0 6px; }
	.media-tags { font-size: 11px; font-weight: 400; line-height: 1.4; }
	.tag-list { padding: 20px 15px; border: 1px solid darken(white,10%); @include clearfix(); }
}
.result-member, .contact-directory .contact {
	@include clearfix();
	padding: 14px 0 15px;
	border-top: 1px solid darken(white,10%);
	
	figure { float: right; margin-left: 30px; }
	h3, p { margin: 0; }
	h3 { margin-bottom: 5px; }
}
.contact-directory .contact {
	padding: 10px 0 11px;
	h3 { margin-bottom: 2px; }
}


.areas-dd {
	display: none;
	border: 1px solid darken(white,15%);
	
	ul {
		margin: 0;
		li {
			list-style: none;
			border-top: 1px solid darken(white,15%);
			margin: 0;
			padding: 0;
			
			&:first-child { border: none; }
			a { background: #fff; display: block; padding: 6px 15px; text-decoration: none; }
			a:hover { background: darken(white,5%); }
		}
	}
}


/*
----------------------------------------
SITEMAP
----------------------------------------*/
#sitemap {
	margin: 0 0 30px;
	
	h6 {
		font-size: 18px;
		font-weight: 700;
		border-bottom: 1px solid darken(#fff, 15%);
		margin: 0 0 8px;
		padding: 0 0 8px;
	}
	ul { /* tier 1*/
		margin: 0;
		padding: 0;
		list-style: none; 
		
		li {
			margin: 0 0 6px;
			padding: 0;
			a {
				font-weight: 700;
				font-size: 13px;
			}
		}
		ul { /*tier 2*/
			list-style: disc outside;
			margin: 6px 0 12px 16px;
			a {
				font-weight: 400;
			}

			ul { /*tier 3*/
				list-style: circle outside;
				margin: 6px 0 12px 24px;
				
				ul { /*tier 4*/
					ul { /*tier 5*/ } 
				}
			}
		}
	}
}


/*
----------------------------------------
SHARED MODULE ELEMENTS
----------------------------------------*/
.small-device-msg { display: none; }


/*
----------------------------------------
MODULE WRAP
----------------------------------------*/
.module-wrap {
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: $page-padding-left;
	padding-right: $page-padding-right;
}

/*
----------------------------------------
MODULE HEADERS
----------------------------------------*/
.module-hd, .custom-module-hd {
	@include clearfix();
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: $page-padding-left;
	padding-right: $page-padding-right;
}
.module-hd h1 {
	@extend .basecol;
	width: 50%;
	margin: 0;
	padding: 0;
	font-size: 3.2rem;
}
.module-actions {
	margin: 0;
	padding-top: 0;
	padding-bottom: 15px;
	padding-left: $page-padding-left;
	padding-right: $page-padding-right;
	.button.dropdown:after {
		border-top-color: #999;
		margin-top: -3px;
	}
	.nav-pills{
		float:right;
	}
}
.module-hd .module-actions {
	@extend .basecol;
	width: 50%;
	padding: 0;
}
.module-hd h1:first-child, .custom-module-hd h1:first-child { margin-top: 0; }
.custom-module-hd [class*="content-"] { margin: 0 -15px; }

/*
----------------------------------------
CALENDAR MODULE (SHARED)
----------------------------------------*/
.cal-controls {
	padding: 9px 6px 10px;
	border: 1px solid $brand-primary;
	background: $brand-primary;
	width: 100%;
	box-shadow:inset 1px 1px rgba(white, .2);
	text-align: center;
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
	color: #f3f3f3;
	text-shadow: 0 1px rgba(black, .3);
		
	.next-arrow, .prev-arrow {
		display: block;
		width: 16px;
		height: 16px;
	}
	a {
		display:block; 
		border-top: 8px solid transparent; 
		border-bottom: 8px solid transparent; 
		text-shadow: 0 1px rgba(black, .3)
	}
	.next-arrow { float: right; }
	.prev-arrow { float: left;}
	.next-arrow a { border-left: 8px solid lighten(#f3f3f3, 20%); }
	.prev-arrow a { border-right: 8px solid lighten(#f3f3f3, 20%); }
}
.cal-months {
	@include clearfix();
	.month {
		float: left;
		width: 8.333333333325%;
		text-align: center;
		font-size: 13px;
		line-height: 1;
		
		&.selected {
			font-weight: bold;
			padding: 10px 0;
		}
		a {
			display: block;
			padding: 10px 0;
			&:hover { background: lighten($brand-primary, 70%); }
		}
	}
}

/*
----------------------------------------
CALENDAR MODULE (LIST)
----------------------------------------*/
.cal-wrap {
	@include clearfix();
	padding-top: 0;
	
	.cal-controls, .dow-header, .week {
		display: table;
		width: 99.9999999999%;
		margin: 0;
	}
}
.cal-wrap .cal-item {
	@include clearfix(); padding: 15px 0; margin: 0; border-top: 1px solid #e7e7e7;
	h2 { font-size: 15px; margin: 0; }
	.cal-item-info {
		width: 70%; padding-right: $columnGutter / 2;
		h2, p { padding-left: 85px; }
		p { margin: 0; }
	}
	.cal-item-details { padding-left: 85px; }
	.cal-item-wrap, .cal-item-details { @include clearfix(); }
	.cal-item-actions { width: 30%; padding-right: 0 $columnGutter / 2; text-align: right; }
	.cal-date, .cal-item-info, .cal-item-actions { min-height: 1px; position: relative; float: left; }
	.cal-date {
		width: 68px;
		p {
			margin: 0; padding: 0; text-align: center; background: #fff; padding: 7px 0; border: 1px solid #ccc; border-radius:0;
			span { display: block; color: #333333; text-transform: uppercase;
				&.month { font-size: 13px; line-height: 1; }
				&.day { font-size: 18px; line-height: 1.3; }
				&.dotw { font-size: 10px; line-height: 1.3; }
			}
		}
	}
}

/*
----------------------------------------
CALENDAR MODULE (GRAPHICAL)
----------------------------------------*/
.cal-graphical-wrap { padding-top: 0; }
.cal-graphical-wrap .small-device-msg { display: none; padding: 30px 0; text-align: center; }

.cal-container {	
	.dow-header { padding: 10px 0; }		
	.device-msg { display: none; }
	.day-title { text-align: center; vertical-align: middle; }
	.day {
		height: 140px; background: #eaeaea;
		.day-no { display: block; font-size: 15px; margin-bottom: 5px; }
		.day-wrap { padding: 10px; height: auto; }
		&:hover { cursor: pointer; background: #f3f3f3; }
		&.today {
			background: #dedede;
			&:hover { background: #f3f3f3; }
		}
		&.blank {
			background: #f3f3f3;
			&:hover { cursor: text; background: #f3f3f3; }
		}
		ul {
			list-style: none; margin: 0;
			li { margin: 0 0 5px; padding: 0; line-height: 1.2; }
		}
	}
	
		.month-header, .dow-header, .week { display: table; width: 99.9999999999%; margin: 0; }
		.month-header {
			padding: 9px 6px 10px;
			border: 1px solid $brand-primary;
			background: $brand-primary;
			width: 100%;
			box-shadow:inset 1px 1px rgba(white, .2);
			text-align: center;
			font-weight: bold;
			color: #f3f3f3;
			text-shadow: 0 1px rgba(black, .3);
		}
		.dow-header {
			border-left: 1px solid #c2c2c2;
			border-right: 1px solid #c2c2c2;
			box-shadow:inset 1px 1px rgba(white, .5);
		}
		.day-title, .day { display: table-cell; width: 14.2857142857%; }
		.day-title { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; text-transform: uppercase; }
		.day {
			border-top: 1px solid #c2c2c2; border-right: 1px solid #c2c2c2;
			&:first-child { border-left: 1px solid #c2c2c2; }
		}
		.week { &:last-child { .day { border-bottom: 1px solid #c2c2c2; } } }
}




/*
---------------------------------------------------------------------------
NEWSLETTER
---------------------------------------------------------------------------*/
#newsletters {
	border-top: 1px solid darken(white,10%);
	li {
		border-bottom: 1px solid darken(white,10%); margin: 0;
		a {
			text-decoration: none; display: block; padding: 10px 8px;
			&:hover { background: darken(white,3%); }
		}
	}
}



/* FULL MODULES */

.full-modules {
	#content #main {
		left: auto !important;
		float: none !important;
		padding: 0 !important;
		width: 100% ;
	}
	aside#sidebar { display: none !important; }
}


/* MODULE GRIDS */

#content.module {
	&.csNews .newsHd, &.csNews .news-feature,
	&.csNews article.post,
	&.csFaculty .list-wrap, &.csFaculty article.profile-details, &.csFaculty .moduleHd,
	.event-wrap {
		padding-left: $page-padding-left; 
		padding-right: $page-padding-right;
		h1{
			font-size: 3.2rem;
		}
	}
	
	&.csNews .latest-news-events,
	.blog-post-wrap {
		padding-left: $columnGutter / 2;
		padding-right: $columnGutter / 2;
	}
}




/*
---------------------------------------------------------------------------
MEDIA QUERIES
---------------------------------------------------------------------------*/

@media only screen and (max-width: 850px) {
	.coContact { width: 50%; }
}

@media only screen and (max-width: 767px) {
	.module-hd, .custom-module-hd, .module-wrap { padding-left: $columnGutter / 2; padding-right: $columnGutter / 2; }
	.module-hd h1, .module-actions, .module-hd .module-actions { float: none; width: 100%; text-align: left; }
	.module-actions, .module-hd .module-actions { padding-left: $columnGutter / 2; padding-right: $columnGutter / 2; }
	.module-hd .module-actions { padding: 10px 0 0; }
	.custom-module-hd {
		p, ul, li, table, th, td { text-align: left !important; }
	}
	.coContact { width: 33.3333%; }
	
	
	/* MODULE GRIDS */
	#content.module {
		&.csNews .newsHd, &.csNews .news-feature, &.csNews article.post,
		.blog-post-wrap,
		&.csFaculty .list-wrap, &.csFaculty article.profile-details, &.csFaculty .moduleHd,
		.event-wrap {
			padding-left: $columnGutter / 2; 
			padding-right: $columnGutter / 2;
		}
		
		&.csBlog aside#secondary,
		&.csNews .latest-news-events {
			padding-left: 0;
			padding-right: 0;
		}
	}
	
}


@media only screen and (max-width: 580px) {
	.cal-graphical-wrap .small-device-msg { display: block; }
	.cal-graphical-wrap .cal-container { display: none; }
}

@media only screen and (max-width: 580px) {
	.coLogo, .coInfo { width: 100% !important; float: none; height: auto; right: auto; left: auto; }
	.coContact { width: 50%; height: 110px; }
}

@media only screen and (max-width: 480px) {
	.module-hd {
		padding-bottom: 20px; padding-left: $columnGutter / 2; padding-right: $columnGutter / 2;
		h1 { text-align: center; }
	}
	.custom-module-hd { padding-bottom: 0; padding-left: $columnGutter / 2; padding-right: $columnGutter / 2; }
	.module-actions .button, .module-hd .module-actions .button { width: 100%; display: block; margin-bottom: 6px; }
	.cal-wrap {
		.cal-item-info, .cal-item-actions { @include clearfix(); float: none; width: 100%; }
		.cal-item-info { margin-bottom: 8px; }
		.cal-item-actions, .cal-item-details { padding-left: 0; text-align: left; }
		.cal-item-details { margin-top: $columnGutter / 2; }
		.button { display: block; float: none; }
	}
	
}

@media only screen and (max-width: 420px) {
	.result-member figure { float: none; width: 100%; margin: 0 0 15px; }
	.coContact { width: 100% !important; float: none; height: auto; padding-top: 5px; padding-bottom: 5px; border-top: 1px solid darken(white,10%); }
}

// ROSTERS

/*.rosterPub{
	@extend .table;
	@extend .table-striped;
}*/

.clear{
	@include clearfix();
}

#rosterDetail{
		@include make-row();
	.profilePic{
		@include make-md-column(4);
		img{
			max-width: 100% !important;
			height:auto !important;
		}
	}
	.playerDetails{
		@include make-md-column(8);
		h1{
			font-size: 3.0rem;
			font-weight: 400;
			text-transform: capitalize;
		}
		ul{
			list-style: none;
			margin:0; padding:0;
			li{
				list-style: none;
				margin:0;
				padding:0;
				
				> div{
					width:50%;
					float:left;
				}
			}
		}
	}
	h2{
		font-size: 2.2rem;
		font-weight: 200;
	}
	.playerHighLights{
		@include make-md-column(12);
	}
}

.event-wrap, .newsHd, #CsPub, .moduleHd, .facultyHd{
	h1{
		font-size: 3.2rem !important;
	}
}

#athCalDetails{
	.athCalHdr{
		.date{
			border:none;
			font-weight: 400;
			display: inline-block;
			width:100%;
			text-align: left;
			height:auto;
			&:after{
				@include clearfix();
			}
		}
	}
	.results{
		@include clearfix();
		.scores{
			.team{
				border-bottom: solid 1px #ccc;
			}
			.finalScore{
				display: inline;
			}			
		}
	}
}