/* ----------------------
	Configuration
	 Setup of the basic components (fonts/colors/etc)
   ---------------------- */
   @import 'base/variables';
   @import 'base/typography';
   @import 'base/foundation';


   // Demo code
	@import 'components/demo';

/* ----------------------
	Section 1 - Header
	
	Includes accessibility; header search; main navigation bars
   ---------------------- */
   
   @import 'base/header-search';
   @import 'base/header-accessibility-link';
   @import 'base/header-campus-alerts';
   @import 'base/header-layout';
   @import 'base/header-main-navigation';
   @import 'base/audience-navigation';
   @import 'base/header-secondary-navigation';
   @import 'base/grid';
// When content area gets focus, figure out a callout to it. 

/* ----------------------
	Section 2 - Footer
   ---------------------- */
   #site-footer{
	   background: lighten($brand-xavier-silver, 25%);
	   color: $brand-xavier-navy;
	   font-weight: 300;
	   padding: 3rem 0 10rem;
	   width:100vw;
	   text-align: center;
	   
	   .address{
			margin: 0;
			> span{
				display: block;
				
				@media screen and (min-width:1070px){
					display: inline;
					padding:0 1rem;
					&:not(:last-child){
						border-right: solid 1px $brand-xavier-navy;
					}
				}
				
			}
		}
	   
	   .org {
		   font-weight: 400;
		   text-transform: uppercase;
	   }
   }
   
   
/* ----------------------
	Section 3 - Components
   ---------------------- */
   @import 'components/accessibility';
   @import 'components/social-icons';
   
   @import 'components/hero';
   @import 'components/billboard';
   @import 'components/academics';
   @import 'components/band';
   
   @import 'components/table';