// Import base utilities and configuration
@import 'config';

// Import only what you need to survive.
@import 'partials/bootstrap';
@import 'partials/fontawesome';

// Header (in order of page load)
@import 
	'partials/accessibility-skip',
	'partials/header-search',
	'partials/header-layout',
	'partials/footer-layout',
	'partials/footer-sticky'
;

.page{
	position: relative;
	margin:0;
	padding:0;
}