// Set environment vars
$env: "dev";

// Import base utilities and configuration
@import 'config';

// Import only what you need to survive.
@import 'partials/bootstrap';
@import 'partials/fontawesome';

@import 'partials/global-typography';

// Header (in order of page load)
@import 
	'partials/accessibility-skip',
	'partials/header-alert',
	'partials/header-search',
	'partials/header-layout',
	'partials/footer-layout',
	'partials/footer-sticky'
;

// Content Includes -- Use a seperate file for content?
@import 
	'partials/bands/hero',
	'partials/bands/billboard'
;
.page{
	position: relative;
	margin:0;
	padding:0;
}