.dept-share-box{
	> div{
		width:45%;
		padding:0.5rem;
		
		&:last-child{
			float:right;
		}
		
		ul{
			border:solid 1px $brand-tertiary;
			height: 400px;
			list-style: none;
			margin:0;
			overflow-y: scroll;
			padding:0;
		}
	}
	
	&:after{
		clear:both;
		content:" ";
		height:1px;
	}
}