.dept-share-box{
	display: inline-block;
	width:100%;
	> div{
		width:50%;
		float:left;
		&:last-child{
		}
		
		ul{
			border:solid 1px $brand-tertiary;
			height: 400px;
			list-style: none;
			margin:0 0.5rem;
			overflow-y: scroll;
			padding:0.5rem;
		}
		
		li{
			height: auto;
			margin:0;
			padding:0;
		}
	}
	
	&:after{
		clear:both;
		content:" ";
		height:1px;
	}
}