
.ui-button{
	background:darken($white, 10%);
	border:solid 1px darken($white, 10%);
	display: inline-block;
	font-size: 1.4rem;
	margin:1rem 0.5rem;
	padding:0.35rem;
	
	&.success{
		background-color:$brand-success;
		border-color:$brand-success;
		color:$white;
	}
}

.nav-actions{
	.ui-button{
		background: darken($white, 20%);
		border-color: darken($white, 20%);
		margin: 0 0.5rem;
	}
}

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }