.search-container{
    background:$brand-primary;
    height: 0px;
    position: relative;
	transition: height 500ms cubic-bezier(0.675, 0.170, 0.245, 0.795);
	overflow: hidden;
    &.show{
	    height:84px;
	    
	    @media(min-width:1070px){
		    height:100px;
		}
	    
	    visibility: visible;
    }
    &.hide{
	    height:0px;
    }
    
}

#header-search-form{
	
	input[type=text]{
    	background-color: $brand-primary;
    	border:solid 3px transparent;
		border-bottom-color: $brand-secondary;
		background: rgba($white, 0.1);
		border-radius: 0;
		color: $white;
		font-weight: 100;
		font-style: normal;
		font-size: 1.6rem;
		height: 50px;
		line-height: 1.25;
		padding: 0.2rem 1rem;
		width: 100%;
			
		@media screen and (min-width:1070px){
			font-size: 3rem;
		}
		
		&:focus{
			outline: solid 2px $brand-secondary;
		}
	}
	
	input[type=submit]{
	    background-color: $brand-secondary;
		border: 1px solid $brand-secondary;
		border-radius: 0;
		color: $white;
		font-weight: 100;
		font-style: normal;
		font-size: 1.6rem;
		height: 84px;
		margin: 0;
		position: absolute;
			top: 0;
			right: 0;	
		transition: .5s;
		width: 84px;
		
		@media screen and (min-width:1070px){
			font-size: 2.4rem;
			height: 100px;
			width: 180px;
		}
		
		&:hover, &:focus, &:active{
			color: $brand-primary;
		}
	}
	
}

.search-box{
    display: inline-block;
    height:84px;
	padding:0 10px;
	position: relative;
	width: calc( 100vw - 100px);
	
	@media screen and (min-width:1070px){
		width: calc( 100vw - 200px);
	}
	
	label{
	    color:rgba($white, 0.63); // Minimum transparency for AAA standard
	    font-size: 1.4rem;
	    font-weight: 200;
		transition: top 200ms ease, font-size 200ms ease;
		@media screen and (min-width:1070px){
			font-size: 2.4rem;
		}
	}
	
	::placeholder{
		color: rgba($white,0.63); // 7.036 on transparent BG!!
	}
}