body {
	height: 100% !important;
	line-height: 1.6875;
	font-family: $font-family;
	font-weight: 200;
	font-style: normal;
}

a{
	text-decoration: underline;
	transition: color 0.25s ease;
}

input, select{

}

h1,h2,h3,h4,h5,h6{
	color:$brand-primary;
	font-style: normal;
	margin:2rem 0 1rem;
}

.subheader{
	color: $brand-secondary;		
}

h1{
	font-size: 4.0rem;
	font-weight: 600;
	text-transform: uppercase;
}

h2{
	font-size: 2.8rem;
	font-weight: 600;
}

h3{
	font-size: 2.3rem;
	font-weight: 400;
}
h4{
	font-size: 2.1rem;
	font-weight: 200;
}
h5{
	font-size: 1.8rem;
	font-weight: 300;
}
h6{
	font-size: 1.6rem;
	font-weight: 500;
}

p, ul, ol{
	font-size: 1.6rem;
}
ul{
	&.ua {
		padding: 0 1rem;
		margin: 1rem 0;
		li {
			margin: 1rem 0;
			list-style: none;
			&:before {
				content: '\f111';
				font-family: 'FontAwesome';
				float: left;
				margin-left: -1.5rem;
				margin-top: 1.025rem;
				color: $brand-quaternary;
				font-size: 0.55rem;
			}
		}
	}
}

.text-white{
	color:$white;
}
.text-primary{
	color:$brand-primary;
}
.text-secondary{
	color:$brand-secondary;
}
.text-tertiary{
	color:$brand-tertiary;
}
.text-quarternary{
	color:$brand-quaternary;
}
.uppercase, .text-uppercase{
	text-transform: uppercase;
}
.capitalize, .text-capitalize{
	text-transform: capitalize;
}
.lowercase, .text-lowercase{
	text-transform: lowercase;
}
.text-none{
	text-transform: none;
}
.text-underline{
	text-decoration: underline;
}

.block{ display: block; }
.text-normal-100{ font-weight: 100; }
.text-normal-200{ font-weight: 200; }
.text-normal-300{ font-weight: 300; }
.text-normal-400{ font-weight: 400; }
.text-normal-600{ font-weight: 600; }
.text-italic-100{ font-weight: 100; font-style: italic; }
.text-italic-200{ font-weight: 200; font-style: italic; }
.text-italic-300{ font-weight: 300; font-style: italic; }
.text-italic-400{ font-weight: 400; font-style: italic; }

.text-right{ text-align: right; }
.text-left{ text-align: left; }
.text-center{ text-align: center; } 

@media( min-width: 768px) {
	.sm-text-right{ text-align: right; }
	.sm-text-left{ text-align: left; }
	.sm-text-center{ text-align: center; }
}
@media( min-width: 992px) {
	.md-text-right{ text-align: right; }
	.md-text-left{ text-align: left; }
	.md-text-center{ text-align: center; }
}
@media( min-width: 1200px) {
	.lg-text-right{ text-align: right; }
	.lg-text-left{ text-align: left; }
	.lg-text-center{ text-align: center; }
}

blockquote {
	footer{
		color: inherit;
	}
}

.date {
  border: solid 2px $brand-quaternary;
  text-align: center;
  line-height: 1;
  width: 50px;
  height: 55px;
  padding: 0.25em;
  .day {
    font-weight: 700;
    font-size: 1.75rem;
    display: block;
  }
  .month {
    color: $brand-quaternary;
    font-weight: 400;
    display: block;
    text-transform: uppercase;
  }
}

.important-dates {
	p {
		font-size: 1.4rem;
	}
}

.all-for-one, .we-will, .we-are{
	font-size:2.1rem;
	line-height:1.2;
	margin:1rem 0;
	@media (min-width:768px){
		font-size:2.7rem;
	}
}