.content-header-nav{
	background: lighten($brand-xavier-silver, 30%);
	font-size: 1.6rem;
	text-align: center;
	
	.toggle-content-header-nav{
		display: block;
		padding:1rem;
		text-align: center;
		width:100%;
		&:hover{
			background: lighten($brand-xavier-silver, 25%);
		}
	}
	
	ul {
		margin: 0;
		padding:0;
		display: none;
		
		@media screen and (min-width: 992px){
			display: block;
		}
		
		&.active{
			display: block;
		}
	}
	li{
		display: block;
		margin:0;
		padding:0;
		
		&:not(:last-child){
			border-bottom: solid 1px lighten($brand-xavier-silver, 22.5%);
		}
		
		@media screen and ( min-width: 992px ){
			display: inline-block;
			
			&:not(:last-child){
				border-bottom: none;
			}
		}
		
	}
	a{
		display: block;
		margin:0 0.75rem;
		padding:1rem;
		text-decoration: none;
		
		&:first-child{
			margin-left:0;
		}
		
		&:before{
			content: '\f054';
			font-family: 'FontAwesome';
			padding-right: 0.5rem;
			font-size: 1.25rem
		}
		&:hover{
			background: lighten($brand-xavier-silver, 25%);
		}
	}
}