// Code for highlighting any demo aspects of the code; not for production level compiled code.

.row.demo{ // Remove or pull out to a different import level
	margin: 0.5rem auto;
	> div {
		background-color: #e8e8e8; color: #333;
		&:not(:first-child){
			border-top: solid 1px $brand-xavier-silver;
			@media screen and (min-width:992px){
				border-top: none;
				border-left: solid 1px $brand-xavier-silver;	
			}
		}
	}
}

code{
	background: lighten($brand-xavier-silver, 25%);
	border-radius: 0.3rem;
	color: $brand-xavier-navy;
	display: inline-block;
	padding: 0 0.5rem;
}