#show-programs{
  color: $brand-xavier-pacific-blue;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  span{
    color: $color-white;
  }
  
  @media (min-width: 992px){
    font-size: 3.4rem;
  }
  
  &:hover{
    color: $color-white;
  }
}

.programs-list{
  background-color: $color-white;
  display: none;
  
  &.active{
    display: block;
  }
  
  .button{
    display: block;
    border-color: $brand-xavier-navy;
    
    &:hover, &:active, &.active{
      background: $brand-xavier-navy;
      color: $color-white;
    } 
  }
  
  .major-buttons{
    display: none;
    
    &.active{
      display: block;
    }
  }
}

.program-categories{
  margin: 1rem 0;
}

ul.program-categories{
  background: lighten($brand-xavier-silver, 25%);
  display: none;
  li{
    display: block;
    font-weight: 300;
    text-transform: uppercase;
    
    @media (min-width: 992px){
      display: inline-block;
    }
    &.active{
      a{
        background: $brand-xavier-navy;
        color: $color-white;
      }
    }
    
    a{
      display: inline-block;
      padding:1rem 1.5rem; 
      text-decoration: none;
      text-align: center;
      width: 100%;
      
      &:hover, &:active{
        background: $brand-xavier-silver;
        color: $brand-xavier-navy;
      }
    }
  }
  @media (min-width: 992px){
    display: block;
  }
}

select.program-categories{
  display: block;
  width: 100%;
  font-size: 1.6rem;
  @media (min-width: 992px){
    display: none;
  }
}

.major-list{
  
  li{
    display: none;
    margin:0.75rem 0;
    
    &.active{
      display: block;
    }
    
    > a{
      border-left: solid 4px $brand-xavier-pacific-blue;
      display: block;
      margin: 0;
      padding: 0 1rem;
      
      &:hover, &:active{
        border-left-color: darken($brand-xavier-pacific-blue, 15%);
        text-decoration: none;
      }
    }
  }
  
  @media (min-width: 768px){
    column-count: 3;
    column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
  }
  
  &.single{
    column-count:1;
  }
  
  .undecided{
    border: solid 0.1rem lighten($brand-xavier-silver, 25%);
    margin: 0.75rem auto;
    padding:1rem;
    
    a{
      border:none;
      display: inline;
      padding: 0;
      margin: 0;
    }
    
    @media (min-width: 768px){
      width: 80%;
    }
  }
}