.social-icons{
   padding-bottom: 2rem;
}

.social-icon{
   border: solid 0.2rem $brand-xavier-navy;
   color: $brand-xavier-navy;
   display: inline-block;
   height: 4.2rem;
   margin: 0 0.25rem;
   padding: 0.6rem;
   text-decoration: none;
   width: 4.2rem;
   
   .fa{
	   font-size: 2.75rem;
   }
   
   &:hover, &:focus, &:active{
	   background: $brand-xavier-navy;
	   color: $color-white;
   }
}