.band {
	background-color: $brand-quaternary;
	color: $brand-primary;
	padding:3rem 0;
	position: relative;
}

.navy{
	@extend .band;
	background-color: $brand-primary;
	color:$white;
}

.white{
	@extend .band;
	background-color:$white;
}

.grey{
	@extend .band;
	background-color:$brand-tertiary;
}

.photo{
	@extend .band;
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	overflow: hidden;
	color:$white;
	
	&.fixed{
		@media(min-width:768px){
			background-attachment: fixed;
			position: static;
		}
	}
}