.band{
	background-color: $brand-quaternary; // 7.337 with primary
	color: $brand-primary;
	padding:3rem 0;
	position: relative;
}

.primary{
	@extend .band;
	background-color: $brand-primary; // 15.7 with white
	color:$white;
}

.secondary{
	@extend .band;
	background-color: $brand-secondary; // 4.83 with primary
	color: $brand-primary; 
}

.tertiary{
	@extend .band;
	background-color:$brand-tertiary; // 6.53 with primary
}
.quaternary{ // Same color as .band, is it needed?
	@extend .band;
	background-color: $brand-quaternary; // 7.337 with primary
}

.white{
	@extend .band;
	background-color:$white; // 15.789 with primary
}

.photo{
	@extend .band;
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	overflow: hidden;
	color:$white;
	
	&.fixed{
		@media(min-width:768px){
			background-attachment: fixed;
			position: static;
		}
	}
}