.billboard {
	height:500px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	display: block;
	overflow: hidden;
	position: relative;
	
	.billboard-main{
		bottom:0;
		position:absolute;
		width:100%;
		
		.billboard-box{
			background-color: $accent-light;
			border-top: 9px solid $accent-color;
			padding:12px 12px 0 12px;
			
			@media (min-width: 768px){
				padding-top: 25px;
			}
			
			.billboard-heading{
				font-size: 3.0rem;
				font-weight: 600;
				line-height: 1.1;
				margin-bottom:12px;
				margin-top:0;
				color:$white;
				font-style: normal;
				
				@media (min-width: 768px){
					font-size: 4.8rem;
				}
				
				.emphasis{
					color:$brand-color;
				}
			}
			.billboard-half-title{
				background:url(#{$path}img/bg-half-title.png) repeat-x left center;
				display: inline-block;
				margin:0 auto;
				padding:0 30px;
				width:auto;
				
				@media (min-width: 768px){
					padding:0 90px;
				}
				
				.billboard-half-title-content{
					background-color:$accent-light;
					color:$brand-color;
					display: inline-block;
					font-weight: 400;
					font-style: normal;
					font-size: 1.8rem;
					line-height: 1.1;
					padding:0 15px;
				}
			}
		}
	}
	@media (min-width: 768px){
		height:640px;
	}
}