.skip-link{	
	background: $brand-xavier-primary;
	color: $color-white;
	text-align: center;
	display: block;
	// Hide it from visual flow
	position:absolute; 
	left:-10000px;
	top:auto; 
	width:1px; 
	height:1px; 
 	overflow:hidden;
 	transition: 0;
	z-index: 1000;
	
	&:focus, &:hover, &:active{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100vw;
		height:46px;
		text-align: center;
		padding: 1rem;
	}
}

@keyframes highlight-fade {
  0% {
    background: rgba($brand-xavier-secondary, 0.75);
  }
  100% {
    background: transparent;
  }
}

.accessible-highlight {
  animation: highlight-fade 2s ease-out;
}