$path: "/Templates/temp-v41/";
@if compass-env() == "development"{
	$path: "../";
}
@else if compass-env() == "production" {
	$path: "/Templates/temp-v41/";
}

$font-stack: 				'Frutiger W01', 'Helvetica Neue', Helvetica, Arial, sans-serif;


$color-blue-zodiac: 		#0c2340;
$color-fiord: 				#3f5670;
$color-granny-smith: 		#9ea2a2;
$color-pacific-blue: 		#0099cc;
$color-viking: 				#59bdde;
$color-white: 				#ffffff;


$brand-xavier-navy: 		$color-blue-zodiac;
$brand-xavier-silver: 		$color-granny-smith;
$brand-xavier-viking:		$color-viking;
$brand-xavier-pacific-blue: $color-pacific-blue;
$brand-xavier-fiord: 		$color-fiord;

$base-footer: 				lighten($brand-xavier-silver, 25%);