.skip{	

	background: $white;
	color: $brand-color;
	text-align: center;
	padding: 10px;
	display: block;
	text-decoration: underline;
	// Hide it from visual flow
	position:absolute; 
	left:-10000px; 
	top:auto; 
	width:1px; 
	height:1px; 
 	overflow:hidden;
	z-index: 1000;
	
	&:focus, &:hover, &:active{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 42px;
		background: $white;
		z-index: 999;
		color: $brand-color;
		text-align: center;
		padding: 1rem;
		
		+ .site-heading{
			position:absolute;
			top:calc(84px+42px);
		}
	}
	
}

