.band{
	
	&.hero{
		background-image: url(http://www.xavier.edu/Templates/temp-v4/img/cover/cover-hero-7.jpg);
		background-attachment: scroll;
		background-position: center center;
		background-size: cover;
		height: 100vh;
		position: relative;
		width: 100vw;
		
		.hero-center{
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			text-align: center;
			top: 84px;
		}
		
		.hero-wrap{
			display: inline-block;
			margin: 0 auto;
			position: relative;
			vertical-align: middle;
			width: 98%;
			z-index: 3;
		}
		
		.hero-helper {
			display: inline-block;
			height: 100%;
			position: relative;
			vertical-align: middle;
			width: 0;
		}
		
		.hero-box{
			background: rgba(255, 255, 255, 0.75);
			margin: 0 auto;
			padding: 15px 0 20px;
			width: 90%;
			
			@media screen and (min-width: 1070px){
				width:700px;
			}
		}
	
		.hero-heading {
			color: $color_green_vogue_approx;
			font-weight: 600;
			font-style: normal;
			font-size: 2.4rem;
			line-height: 1.1;
			margin: 0 0 24px 0;
			text-transform: uppercase;
		}
		
		form {
			margin: 0;
			padding: 0;
		}
		.form-input {
			box-shadow: none;
			-webkit-box-shadow: none;
			-webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
			background-color: $white;
			border: 1px solid $white;
			color: $color_mine_shaft_approx;
			font-weight: 100;
			font-style: normal;
			font-size: 1.6rem; // 16px font allows no zoom on input fields
			height: 40px;
			margin: 0;
			padding: 0 8px;
			width: 200px;
			
		}
		
		.form-button {
			background-color: $color_pacific_blue_approx;
			border: 1px solid $color_pacific_blue_approx;
			color: $white;
			font-weight: 100;
			font-size: 1.6rem;
			height: 40px;
			margin: 0;
			padding: 0 8px;	
			width: 60px;
			-webkit-transition: background-color 500ms ease-in-out, border 500ms ease-in-out, color 500ms ease-in-out;
			-moz-transition: background-color 500ms ease-in-out, border 500ms ease-in-out, color 500ms ease-in-out;
			-o-transition: background-color 500ms ease-in-out, border 500ms ease-in-out, color 500ms ease-in-out;
			transition: background-color 500ms ease-in-out, border 500ms ease-in-out, color 500ms ease-in-out;
			
			&:hover {
				background-color: $color_green_vogue_approx;
				border: 1px solid $color_green_vogue_approx;
				color: $color_pacific_blue_approx;
			}
		}
		
		@media (min-width: 1070px) {
			.hero-box {
				width: 700px;
			}
			.hero-heading {
				font-size: 4.8rem;
			}
			.form-input {
				font-size: 2.4rem;
				height: 50px;
				padding: 0 16px;
				width: 450px;
			}
			.form-button {
				font-size: 2.4rem;
				height: 50px;
				padding: 0 16px;
				width: 120px;
			}
			.hero-video{
				position: absolute;
				top:0;
				left:0;
				right:0;
				width: 100%;
				height: 100%;
				
				video{
					position:absolute;
					object-fit: cover;
				}
				.fill{
					width:100%;
					height:100%;
				}
			}
		}
	}
}