.backmatter{
	background: $brand-color;
	height:74px;
	width: 100vw;
	display: none;
	z-index: 10;
	@media screen and (min-width:1070px){
		display: block;
		position: fixed;
		bottom: 0;
	}
}

.footer-logo{
	width:50px;
	float:left;
	padding-top:1.25rem;
}

.sitemap, .cta-links{
	text-transform: uppercase;
	
	a{
		text-decoration: none;
	}
}

.sitemap{
	font-weight: 300;
	margin-top: 2.5rem;
	margin-left: 7rem;
	a{
		color:$accent-color;
		display: inline-block;
		margin:0 0.8rem;
		&:first-child{
			margin-left:-0.2rem;
		}	
		&:hover, &:focus{
			color:$white;
		}
		
		&.audience{
			color:$white;
			
			&:hover, &:focus{
				color:$accent-color;
			}
		}
	}
}

.footer-cta{
	background: $accent-color;
	height:74px;
	text-align: center;
}

.cta-links{
	color:$brand-color;
	font-size: 1.8rem;
	font-weight: 600;
	margin-top:2.25rem;
	
	a{
		color:$brand-color;
		font-size: 1.8rem;
			
		&:hover, &:focus{
			color:$white;
		}
	}
}