/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/ 
@font-face{
font-family:"Frutiger W01_n1";
src:url("../fonts/7d3671fc-8c26-459c-98e1-997c4f6c8c93.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frutiger W01";
src:url("../fonts/7d3671fc-8c26-459c-98e1-997c4f6c8c93.eot?#iefix");
src:url("../fonts/7d3671fc-8c26-459c-98e1-997c4f6c8c93.eot?#iefix") format("eot"),url("../fonts/2a004a53-ac5c-43b3-9eeb-9f74ae4c1609.woff") format("woff"),url("../fonts/74d53f3b-1683-4d5a-a556-e13f6553cdf0.ttf") format("truetype"),url("../fonts/3f5a5b87-e71e-4544-be0c-da4daa132710.svg#3f5a5b87-e71e-4544-be0c-da4daa132710") format("svg");
font-weight: 100;
font-style: normal;
}
@font-face{
font-family:"Frutiger W01_i1";
src:url("../fonts/072713ba-cb3a-4522-8f3b-b120f8eae10f.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frutiger W01";
src:url("../fonts/072713ba-cb3a-4522-8f3b-b120f8eae10f.eot?#iefix");
src:url("../fonts/072713ba-cb3a-4522-8f3b-b120f8eae10f.eot?#iefix") format("eot"),url("../fonts/8259f047-a5d2-40a0-a98c-1c24f0316b08.woff") format("woff"),url("../fonts/1078a920-3def-4194-ba69-46751fb9af38.ttf") format("truetype"),url("../fonts/4c72fb1e-e1b0-4a18-91cc-5dbe2faaf2a3.svg#4c72fb1e-e1b0-4a18-91cc-5dbe2faaf2a3") format("svg");
font-weight: 100;
font-style: italic;
}
@font-face{
font-family:"Frutiger W01_n2";
src:url("../fonts/af97a512-f55a-4f61-b2ce-659c883930fc.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frutiger W01";
src:url("../fonts/af97a512-f55a-4f61-b2ce-659c883930fc.eot?#iefix");
src:url("../fonts/af97a512-f55a-4f61-b2ce-659c883930fc.eot?#iefix") format("eot"),url("../fonts/3fbbd6b1-cfa7-4ff0-97ea-af1b2c489f15.woff") format("woff"),url("../fonts/076311f8-a01b-4389-a5eb-334a62e62d45.ttf") format("truetype"),url("../fonts/c59a36ab-4ef8-4ee1-a2f8-48aa79d4f877.svg#c59a36ab-4ef8-4ee1-a2f8-48aa79d4f877") format("svg");
font-weight: 200;
font-style: normal;
}
@font-face{
font-family:"Frutiger W01_i2";
src:url("../fonts/fcbab1a3-9659-4b39-8479-cc1f50d18f55.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frutiger W01";
src:url("../fonts/fcbab1a3-9659-4b39-8479-cc1f50d18f55.eot?#iefix");
src:url("../fonts/fcbab1a3-9659-4b39-8479-cc1f50d18f55.eot?#iefix") format("eot"),url("../fonts/e2ade8a9-bd48-45e7-95e6-9dc917ba4f74.woff") format("woff"),url("../fonts/19fe9614-8825-4e7d-b8c3-230d2561e0e2.ttf") format("truetype"),url("../fonts/c2f8e3aa-1c1a-49ee-9ec7-30f61a5e96d3.svg#c2f8e3aa-1c1a-49ee-9ec7-30f61a5e96d3") format("svg");
font-weight: 200;
font-style: italic;
}
@font-face{
font-family:"Frutiger W01_n3";
src:url("../fonts/fbd7c0fb-f004-4e83-81d2-1d400413a873.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frutiger W01";
src:url("../fonts/fbd7c0fb-f004-4e83-81d2-1d400413a873.eot?#iefix");
src:url("../fonts/fbd7c0fb-f004-4e83-81d2-1d400413a873.eot?#iefix") format("eot"),url("../fonts/9aa32a81-1124-4c43-b3db-15bfb1f7aed2.woff") format("woff"),url("../fonts/6faffbf4-f8e8-4817-b24b-a390e166be7e.ttf") format("truetype"),url("../fonts/fc09de64-de25-425e-90dc-a0cae29b02c4.svg#fc09de64-de25-425e-90dc-a0cae29b02c4") format("svg");
font-weight: 300;
font-style: normal;
}
@font-face{
font-family:"Frutiger W01_i3";
src:url("../fonts/f334dc11-1de8-4ae2-9c2a-a1cfa665263b.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frutiger W01";
src:url("../fonts/f334dc11-1de8-4ae2-9c2a-a1cfa665263b.eot?#iefix");
src:url("../fonts/f334dc11-1de8-4ae2-9c2a-a1cfa665263b.eot?#iefix") format("eot"),url("../fonts/f74530f5-a39c-47e3-97d9-6821fc4df8c0.woff") format("woff"),url("../fonts/aa626e7f-57dd-4084-9486-3eeb921333c0.ttf") format("truetype"),url("../fonts/8f91ebb0-2b00-4a50-baa9-865a6502384e.svg#8f91ebb0-2b00-4a50-baa9-865a6502384e") format("svg");
font-weight: 300;
font-style: italic;
}
@font-face{
font-family:"Frutiger W01_n4";
src:url("../fonts/9b0d3be7-4ec5-4a72-8cc6-89b8b0f0b193.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frutiger W01";
src:url("../fonts/9b0d3be7-4ec5-4a72-8cc6-89b8b0f0b193.eot?#iefix");
src:url("../fonts/9b0d3be7-4ec5-4a72-8cc6-89b8b0f0b193.eot?#iefix") format("eot"),url("../fonts/70ad2f15-9e1e-4a42-8fdc-30327ef510c3.woff") format("woff"),url("../fonts/ed897ec7-c1b8-4bd4-9d2a-0a7b09661bdc.ttf") format("truetype"),url("../fonts/63e3258b-8e81-4153-ba11-ab8f4b2aa7a3.svg#63e3258b-8e81-4153-ba11-ab8f4b2aa7a3") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"Frutiger W01_i4";
src:url("../fonts/e7f1c490-48bc-447b-ad11-6e85dd1429be.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frutiger W01";
src:url("../fonts/e7f1c490-48bc-447b-ad11-6e85dd1429be.eot?#iefix");
src:url("../fonts/e7f1c490-48bc-447b-ad11-6e85dd1429be.eot?#iefix") format("eot"),url("../fonts/eb21cbbe-83da-4d1d-bf54-e60fa03381e2.woff") format("woff"),url("../fonts/0a0bb96a-4e52-4940-9120-1cbfe63deb29.ttf") format("truetype"),url("../fonts/6ce161bf-e26e-4c38-b3d9-0abfcbfc2c6d.svg#6ce161bf-e26e-4c38-b3d9-0abfcbfc2c6d") format("svg");
font-weight: 400;
font-style: italic;
}
@font-face{
font-family:"Frutiger W01_n6";
src:url("../fonts/47e272a5-5523-490a-a689-1e4660531849.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frutiger W01";
src:url("../fonts/47e272a5-5523-490a-a689-1e4660531849.eot?#iefix");
src:url("../fonts/47e272a5-5523-490a-a689-1e4660531849.eot?#iefix") format("eot"),url("../fonts/3a6c4a0a-2e4b-472c-a995-1a2e93bd1da2.woff") format("woff"),url("../fonts/4a66b185-1957-4863-86a8-db4f99ff626e.ttf") format("truetype"),url("../fonts/e8e7f894-9084-43e9-b08a-5dcd346ea067.svg#e8e7f894-9084-43e9-b08a-5dcd346ea067") format("svg");
font-weight: 600;
font-style: normal;
}