$Placeholder-Selectors: ();

@mixin bands($color, $fontColor: $white, $extend: true, $contrast: true){
	@include band-static($extend);
	
	background-color: $color;
	
	@if $contrast == true {
		color: color_adjust_contrast_AERT($fontColor, $color);
	} @else {
		color: $fontColor;
	}
}

@mixin band-static($extend){
	$band-selector: map-get($Placeholder-Selectors, 'band');
	
	@if $extend == true {
		@if $band-selector == null {
			$band-selector: unique-id();
			$Placeholder-Selectors: map-merge( $Placeholder-Selectors, ('band': $band-selector)) !global;
			
			@at-root %#{$band-selector}{
				@include band-static(false);
			}
		}
		@extend %#{$band-selector};
	} @else {
		padding: 3rem 0;
		position: relative;
	}
	
}